/* About Section */
.about {
    padding: 50px 0;
    background-color: #f9f9f9;
    text-align: center;
}

.about h2 {
    font-size: 2em;
    margin-bottom: 20px;
}

.about p {
    padding: 10px 0;
    text-align: justify;
}