/* Projects Section */
.projects {
    padding: 50px 0;
    text-align: center;
}

.projects h2 {
    font-size: 2em;
    margin-bottom: 20px;
}

.project-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
    margin-bottom: 40px; /* Espacio debajo de cada grid */
}

.project-item {
    background-color: #fff;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.project-item img {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
    margin-bottom: 15px;
}

.project-item h3 {
    margin-top: 8;
}

.project-item p {
    margin-top: 16px;
    text-align: justify;
}