@import url('https://fonts.googleapis.com/css2?family=Lora:wght@400;700&display=swap');

@import url('header.css');
@import url('project.css');

/* Reset básico */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* General Styles */
body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #ffffff;
    color: #11031A;
    line-height: 1.6;
    font-family: 'Lora', serif;
}

.container {
    width: 80%;
    margin: 0 auto;
}


/* About Section */
.about {
    padding: 50px 0;
    background-color: #f9f9f9;
    text-align: center;
}

.about h2 {
    font-size: 2em;
    margin-bottom: 20px;
}

/* Contact Section */
.contact {
    padding: 50px 0;
    background-color: #f4f4f4;
    text-align: center;
}

.contact h2 {
    font-size: 2em;
    margin-bottom: 20px;
}

/* Footer */
.footer {
    background-color: #333;
    color: white;
    padding: 20px 0;
    text-align: center;
}
