@import url('https://fonts.googleapis.com/css2?family=Lora:wght@400;700&display=swap');

@import url('header.css');
@import url('project.css');
@import url('about.css');
@import url('footer.css');

/* Reset básico */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* General Styles */
body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #ffffff;
    color: #11031A;
    line-height: 1.6;
    font-family: 'Lora', serif;
}

.container {
    width: 80%;
    margin: 0 auto;
}